{% assign theme_name = site.telar_theme %}
{% assign theme = site.data.themes[theme_name] %}

<footer class="site-footer mt-5 py-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0 text-muted">&copy; {{ 'now' | date: "%Y" }} {{ site.author | default: site.title }}</p>
      </div>
      <div class="col-md-6 text-md-end">
        <p class="mb-0 text-muted">
          Built with <a href="https://github.com/UCSB-AMPLab/telar" target="_blank" class="footer-link" style="font-weight: bold;">Telar</a> <a href="https://github.com/UCSB-AMPLab/telar/releases" target="_blank" class="footer-link text-muted" style=""><code>v{{ site.telar.version }}</code></a>, by <a href="https://neogranadina.org" class="footer-link">Neogranadina</a> and <a href="https://ampl.clair.ucsb.edu" class="footer-link">AMPL</a>.{% if theme.creator %}
          <br>Theme by {% if theme.creator_url %}<a href="{{ theme.creator_url }}" target="_blank" class="footer-link">{{ theme.creator }}</a>{% else %}{{ theme.creator }}{% endif %}.{% endif %}
        </p>
      </div>
    </div>
  </div>
</footer>